.Gif{
    border: 1px solid rgb(0, 0, 0);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    margin: 15px;
    padding: 30px;
    width: 100%;
    color: #eee;
    text-decoration: none;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.17);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.17);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.17);
}
.Gif h4{
    margin: 0 auto;
    padding-bottom: 10px;
}
.Gif img{
    object-fit: contain;
}
i{
    font-size: 80px;
}